[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = "*"

[dev-packages]
pytest = "*"
mypy = "*"
"flake8" = "*"
"pep8" = "*"
setuptools="*"
wheel="*"
twine="*"

[requires]
python_version = "3.6"
